#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

summary::-webkit-details-marker {
  display: none;
}
summary {
  list-style: none;    
  cursor: pointer;  
}

summary:hover > div {
  transition: all .3s ease-in-out;
  width: 25px;
  transform: rotate(180);
}

details[open] img {
  transform: rotate(180deg);
}

.banner {
  background-color: rgb(218, 196, 196);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Simulates blur */

}

@media (min-width: 480px) and (max-width: 880px) {
  .rangehide {
    display: none;
  }
}